.body{
    background-color: #333;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}
.body h1{
    margin-left: 320px;
    color: #fff;
    opacity: .4;
    border-left: 0px solid #fff;
    padding-left: 5px;
    border-width: 5px;
    margin-top: 5px;
    text-transform: uppercase;
}
form input {
    border: 2px solid black;
    background-color: #333;
    color: rgb(197, 197, 197);
    margin: 5px;
    font-size: 30px;
    font-family: sans-serif;
    box-shadow: 0px 0px 5px #000;
    border-radius: 0px;
}


form input[type='button']{
    background: green;
    font-weight: bold;
}
form input[type='reset']{
    width: 500px;
    font-weight: bold;
    background: green;
}
form{
    margin: 5px;
    padding: 5px;
    margin-left: 500px;
}

.requery{
    margin: 5px;
    padding: 10px;
    box-shadow:  1px 1px 3px black;
    width: 650px;
    margin-left: 450px;
    font-size: 30px;
    text-transform: uppercase;
}

#name , #surname{
    color: #fff;
    letter-spacing: 2px;
}

.textName,.textSurname,.textBal,.textProf{
    color: rgb(150, 150, 150);
}
#profs{
    text-transform: none;
    color: khaki;
}
#date{
    color: rgb(96, 99, 255);
}
/* left */

#user-icon{
    width: 350px;
    height: 320px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: -30px;
    margin-bottom: 25px;
    transition: 1s;
    position: absolute;
    animation: 5s linear 0s infinite alternate profile;
    background-image: url(img/ags.png);
    background-size: 340px;
    background-position: center;
}

@keyframes profile{
    from{
        box-shadow: 0px 0px 20px rgb(240, 51, 26);
    }
    30%{
        box-shadow: 0px 0px 20px rgb(247, 203, 60);
    }
    60%{
        box-shadow: 0px 0px 20px rgb(253, 69, 146);
    }
    80%{
        box-shadow: 0px 0px 20px rgb(218, 124, 255);
    }
    to{
        box-shadow: 0px 0px 20px rgb(235, 106, 56);
    }
}

#unnamed{
    width: 350px;
    background-color: #bdbdbd;
    margin-left: 50px;
    margin-top: 20px;
    opacity: .5;
    font-size: 20px;
    outline: 2px dashed rgb(139, 128, 206);
}


.inform{
    position: absolute;
    text-transform: none;
    font-size: 15px;
    background-color: rgb(24, 24, 24);
    z-index: 1;
    border-radius: 7px;
    text-align: center;
    width: 350px;
    margin-left: -30px;
    opacity: 0;
    display: none;
    transition: .4s;
}
.inform li{
    list-style-type: circle;
    border-radius: 50%;
}

#balance:hover + .inform{
    opacity: 1;
    transition: .4s;
}

#balance{
    color:lightgreen;
}

#apply-bal{
    background-color: rgb(71, 71, 71);
    opacity: .4;
}
#number{
    opacity: .53;
}



.arrow{
    vertical-align: middle;
    margin: 0 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 16px solid rgb(24, 24, 24);
    border-left: 16px solid transparent;
    border-right: 17px solid transparent;
    position: absolute;
    transform: rotate(180deg);
    margin-top: -16px;
}



.coord{
    text-transform: uppercase;
    color: lightblue;
    font-weight: bold;
    display: block;
    margin-left: 50px;
    word-spacing: 10px;
    width: 400px;
    margin-top: -200px;
}

.coord input[type='button']{
    width: 20px;
    height: 25px;
    padding: 0;
    margin: 0;
}


.sad{
    color:black; 
    font-weight:100;  
    font-family: 'Trade Winds';
    text-shadow: 0px 0px 4px red;
    cursor:default;
    text-decoration:none;
}
.sad:hover{
    color:black; 
    font-weight:100;  
    font-family: 'Trade Winds';
    text-shadow: 0px 0px 4px red;
    cursor:default;
    text-decoration:none;
}
.most{
    color:black; 
    font-weight:100;  
    font-family: 'Trade Winds';
    text-shadow: 0px 0px 4px red;
}
.mems{
    color:black; 
    font-weight:100;  
    font-family: 'Trade Winds';
    text-shadow: 0px 0px 4px red;
}
.coord SPAN{
    border: 1px solid lightblue;
    cursor: pointer;
    padding: 5px 15px;
    display: inline-block;
    margin: 5px;
    width: 100px;
    text-align: center;
    opacity: .5;
    transition: .5s;
}
.coord span:hover{
    opacity: 1;
    transition: .5s;
}


#form{
    display: block;
    float: left;
}

*{
    clear: both;
}

#align{
    position: absolute;
    margin-left: 1030px;
    opacity: .5;
    overflow: hidden;
    height: 0px;
    padding: 5px;
    margin-top: 15px;
    background-color: rgb(71, 71, 71);
    box-shadow: 3px 3px 4px rgb(39, 39, 39);
    transition: .4s;
}
#align:hover{
    height: 410px;
}

#align li{
    display: block;
    margin: 4px;
    font-size: 20px;
    width: 260px;
}

.pos:hover + #align{
    height: 410px;
    transition: .4s;
}
.pos{
    position: absolute;
    margin-left: 1030px;
    background-color: rgb(71, 71, 71);
    box-shadow: 3px 3px 4px rgb(39, 39, 39);
    font-size: 18px;
    padding: 0px 104px;
    margin-top: -10px;
}